
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Bitter:wght@300&display=swap');


*{
    font-family: "Arvo", Serif;
    border-radius: 10px;
    
}

body{
    margin: 0;
    padding: 0;
    background-color: #efefef;
    width: 100%;
}

.news-sections label{
    font-style: bold;
}

.news-sections label :active {

}

#pageTitle{
    font-style: italic;
    margin-top: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

#pageTitle a{
    text-decoration: none;
    color: black;
    
}

.news-sections a{
    text-decoration: none;
    color: inherit;
}
#headline2{
    height: 60%;
    overflow-y: scroll;
    margin-top: 20px;
}
#searchBox{
    background-color: white;
    border-radius: 20px;
}

.textHeadline{
    margin-top: 10px;

}

#newsType{
    height: 500px;
    overflow-y: scroll;
    margin: 10px;
    background-color: white;
}

#newsQuery{
    outline: none;
    border: none;
    height: 15px;
    border-radius: 15px;
}



#Header{
    opacity: 75%;
    height: fit-content;
    background-color: white;
    line-height: 200%;
}


@keyframes techPage{
    from{
        background-color: #efefef;
    }

    50%{
        background-color: rgb(193, 218, 193);
    }

    to{
        background-color: rgb(166, 233, 166);
    }
}

section div{
    background-color: white;
   
}