
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Bitter:wght@300&display=swap');


*{
    font-family: "Arvo", Serif;
    border-radius: 10px;
    
}

body{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    width: 100%;
    border-top: solid black;
    border-width: thick;
    border-radius: 0;
    position: fixed;
}

#stockSection ::-webkit-scrollbar {
    display: none;
}

nav{
    position:fixed;
}

#navBox{
    border-bottom: solid black thin;
    border-radius: 0;
}

#news-sections label{
    font-style: bold;
}

#pageTitle{
    font-style: italic;
    margin-top: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

#pageTitle a{
    text-decoration: none;
    color: black;
    
}

.news-sections a{
    text-decoration: none;
    color: inherit;
}
#headline2{
    height: 60%;
    overflow-y: scroll;
    margin-top: 20px;
}
#searchBox{
    background-color: white;
    border-radius: 20px;
    outline: solid black thin;
}

.textHeadline{
    margin-top: 10px;

}

#newsType{
    height: 500px;
    overflow-y: scroll;
    background-color: whitesmoke;
}

#newsType::-webkit-scrollbar {
    display: none; 
  }

#newsQuery{
    outline: none;
    border: none;
    height: 15px;
    border-radius: 15px;
}



#Header{
    background-color: aliceblue;
    line-height: 200%;
    position: fixed;
    margin-right: 10px;
    margin-bottom: 10px;

}



  

section{
    background-color: whitesmoke;
}




#buttonContainer button{
    outline: none;
    border-width: 1px;
    background-color: white;
}

#stockSection{
    overflow-y: scroll;
    height: 500px;
    max-width: 100%;
    overflow-x: hidden;
    
}
#stockSection::-webkit-scrollbar {
    display: none; 
  }

  marquee{
    margin: 0;
    padding: 0;
    background-color: red;

  }